/* Make sure the body takes up at least the full height of the window */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Container for the main content */
.main-content {
  min-height: 100%; /* Ensures that the main content stretches to fill the available space */
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #008a94;
  color: #fff;
  margin-top: 100% ;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; /* Pushes the footer to the bottom */
}

.footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer .footer-links {
  margin-top: 10px;
}

.footer .footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.footer .footer-links a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  
}
